@import '../../../../Styles/vars';

.course__box {
  min-height: 240px;
  width: 450px;
  padding: 25px;
  border-radius: 8px;
}
.course__blue {
  background-color: $blue-border;
}
.course__orange {
  background-color: $orange-border;
}
.course__green {
  background-color: $green-border;
}
.course__red {
  background-color: $red-border;
}

.course__logo {
  width: 35px;
  height: 35px;
}

.course__title {
  @include text(16px, 113%, 700);
  color: $black;
  margin: 15px 0;
}
.course__info {
  margin-bottom: 20px;
}

.course__modules,
.course__duration {
  @include text(16px, 113%, 400);
  color: $black;
}
.course__duration {
  margin-bottom: 3px;
}

.course__price {
  @include flex-container(space-between, center, wrap);
}

.course__link {
  @include text(16px, 24px, 600);
  @include flex-container(center, center, nowrap);
  gap: 10px;
  cursor: pointer;
  color: $blue-violet;
  padding: 8px 0;
  &:hover {
    color: $white;
  }
}
