@import '../../../../Styles/vars';

.form {
  max-width: 900px;
  width: 100%;
}

.form__title {
  @include text(24px, 32px, 600);
  margin-bottom: 10px;
  @media screen and (max-width: 992px) {
    @include text(18px, 24px, 600);
  }
}
.form__subtitle {
  @include text(16px, 24px, 400);
  @media screen and (max-width: 992px) {
    @include text(14px, 24px, 400);
  }
}
