@import '../../../../Styles/vars';

.admin__rules {
  margin-top: 5px;
  margin-bottom: 30px;
}
.rules__list {
  list-style: inherit;
  max-width: 700px;
  & > li {
    list-style: inside;
    @include text(14px, 16px, 500);
    margin-left: 15px;
  }
}
