@import '../../Styles/vars';

.lesson {
  margin: 40px 0;
  padding: 20px;
  background: $purple;
  border-radius: 8px;
  width: 100%;
  @include flex-container(space-around, center, nowrap);
  row-gap: 20px;
  @media screen and (max-width: 992px) {
    @include flex-container(center, center, wrap);
    flex-direction: column;
  }
}
.lesson__free {
  max-width: 500px;
}

.lesson__emailBox {
  position: relative;
  @include flex-container(space-between, flex-end, nowrap);
  gap: 8px;
  padding-top: 20px;
  margin-bottom: 20px;

  @media screen and (max-width: 576px) {
    @include flex-container(center, center, nowrap);
    flex-direction: column;
  }
}

.lesson__img {
  max-width: 350px;
  & > img {
    width: 100%;
    border-radius: 8px;
  }
}

//
.input__error,
.checkbox__error {
  position: absolute;
  top: 0;
  color: $red-main;
}
.checkbox__error {
  left: 0;
}

.formik__input {
  padding: 12px 0 12px 18px;
  background: $white;
  @include text(18px, 24px, 400);
  @include border(none, 8px);
  width: 100%;
  margin-top: 8px;
  color: $black-main;
  &::placeholder {
    @include text(16px, 21px, 400);
    color: $grey-dark;
  }
  @media screen and (max-width: 768px) {
    @include text(16px, 21px, 400);
    &::placeholder {
      @include text(14px, 21px, 400);
    }
  }
}
.input__label {
  width: 70%;
  @media screen and (max-width: 576px) {
    width: auto;
  }
}

.lesson__rulesBox {
  position: relative;
  @include flex-container(center, flex-start, nowrap);
  padding-top: 20px;
  gap: 10px;
  width: 100%;
  @media screen and (max-width: 576px) {
    max-width: 280px;
    margin: 0 auto;
  }
}
.formik__checkbox {
  width: 24px;
  height: 24px;
}

.checkbox__label {
  @include text(12px, 18px, 400px);
}
