@import '../../Styles/vars';

.faqSection {
  padding: 60px 0;
  @include flex-container(space-between, flex-start, nowrap);
  gap: 30px;
  @media screen and (max-width: 768px) {
    @include flex-container(space-between, center, wrap);
    padding: 30px 0;
  }
}

.faqSection__box {
  max-width: 300px;
  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }
}

.faqSection__title {
  @include text(32px, 36px, 600);
  margin-bottom: 30px;

  @media screen and (max-width: 992px) {
    @include text(21px, 26px, 600);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
    margin-bottom: 20px;
  }
}
.faqSection__answer {
  @media screen and (max-width: 768px) {
    @include flex-container(center, center, wrap);
    flex-direction: column;
    text-align: center;
  }
}

.faqSection__img {
  @include flex-container(flex-end, inherit, nowrap);
  margin-top: 60px;
  max-width: 300px;
  & > img {
    max-width: 50%;
  }
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    & > img {
      max-width: 100%;
    }
  }
}

.faqSection__collapse {
  max-width: 950px;
  width: 100%;
}
