@import '../../Styles/vars';

.support {
  padding: 60px 0;
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}

.support__container {
  @include container(1380px, 25px);
  @include flex-container(space-between, flex-start, nowrap);
  gap: 30px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.support__titleContainer {
  max-width: 500px;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (max-width: 576px) {
    margin-bottom: 15px;
  }
}

.support__objectWrapper {
  max-width: 370px;
  & > object {
    max-width: 100%;
  }
  @media screen and (max-width: 992px) {
    max-width: 340px;
  }
}

.support__subtitle {
  @include text(32px, 100%, 900);
  @media screen and (max-width: 768px) {
    @include text(21px, 26px, 900);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 900);
  }
  color: $blue-main;
  margin-bottom: 10px;
}

.support__subtitleInfo {
  @include text(18px, 21px, 400);
  @media screen and (max-width: 992px) {
    @include text(16px, 18px, 400);
  }
  @media screen and (max-width: 576px) {
    @include text(14px, 18px, 400);
  }
}

.support__infoTitle {
  @include text(24px, 32px, 600);
  margin-bottom: 10px;
  @media screen and (max-width: 992px) {
    @include text(18px, 24px, 600);
  }
}

.support__infoSubtitle {
  @include text(16px, 21px, 400);
  @media screen and (max-width: 768px) {
    @include text(14px, 18px, 400);
  }
}

.support__infoWrapper {
  margin-bottom: 70px;
  @media screen and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
