@import '../../Styles/vars';

.messengers__container {
  @include flex-container(flex-start, center, nowrap);
  gap: 16px;
  margin-top: 20px;
}

.messengers__white {
  color: $white;
  font-size: 24px;
}

.contacts {
  color: $yellow-hover;
  font-size: 21px;
}

.course {
  display: block;
  margin-top: -20px;
}
