@import '../Styles/vars';

.app__container {
  min-height: calc(100vh - 425px);
}

.app__backTop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.app__modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.322);
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  @include flex-container(center, center, nowrap);
}
