@import '../Styles/vars';

.app__container {
  min-height: calc(100vh - 425px);
}

.app__backTop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 16px;
}
