@import '../../Styles/vars';

.userpage {
  position: relative;
  margin-top: 25px;
  position: relative;
  @include flex-container(flex-start, stretch, nowrap);
  gap: 40px;
  padding: 0px 15px 0px 0px;
  background: #29abe247;
  @media screen and (max-width: 992px) {
    gap: 30px;
  }
  @media screen and (max-width: 768px) {
    gap: 20px;
  }
  @media screen and (max-width: 576px) {
    gap: 10px;
  }
}
