@import '../../../Styles/vars';

.course__swiper {
  padding: 30px 0;
}

.course__wrapper {
  @include flex-container(space-between, center, wrap);
  margin-bottom: 40px;
}

.course__title {
  @include text(32px, 46px, 600);
  max-width: 500px;
  @media screen and (max-width: 768px) {
    @include text(21px, 26px, 600);
    max-width: 350px;
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
    max-width: 190px;
  }
}
