@import '../../../Styles/vars';

// contacts
.contacts__title {
  margin-bottom: 5px;
  @include text(32px, 44px, 700);
  @media screen and (max-width: 992px) {
    @include text(28px, 36px, 700);
  }
  @media screen and (max-width: 576px) {
    @include text(24px, 32px, 700);
  }
}

// home (main sect)
.main__title {
  @include text(46px, 56px, 700);
  margin-bottom: 20px;
  @media screen and (max-width: 992px) {
    @include text(32px, 44px, 700);
    margin-bottom: 10px;
  }

  @media screen and (max-width: 576px) {
    @include text(28px, 36px, 700);
    margin-bottom: 10px;
  }
}

// home course
.courses__title {
  @include text(32px, 46px, 600);
  max-width: 500px;
  @media screen and (max-width: 768px) {
    @include text(21px, 26px, 600);
    max-width: 350px;
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
    max-width: 190px;
  }
}

// forwhom
.forWhom__title {
  @include text(32px, 100%, 600);
  @media screen and (max-width: 768px) {
    @include text(21px, 26px, 600);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
  }
}

// methodology
.methodology__title {
  @include text(32px, 36px, 600);
  margin-bottom: 20px;
  @media screen and (max-width: 992px) {
    @include text(21px, 26px, 600);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
    margin-bottom: 10px;
    text-align: center;
  }
}

// faq

.faqSection__title {
  @include text(32px, 36px, 600);
  margin-bottom: 30px;

  @media screen and (max-width: 992px) {
    @include text(21px, 26px, 600);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
    margin-bottom: 20px;
  }
}

// firstlesson
.lesson__title {
  @include text(32px, 42px, 600);
  margin-bottom: 10px;
  @media screen and (max-width: 992px) {
    @include text(21px, 26px, 600);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
    text-align: center;
    max-width: 320px;
  }
}

.support__title {
  margin-bottom: 5px;
  @include text(32px, 44px, 900);
  @media screen and (max-width: 992px) {
    @include text(28px, 36px, 900);
  }
  @media screen and (max-width: 576px) {
    @include text(24px, 32px, 900);
  }
}

.admin__rules,
.admin__сourse {
  margin-bottom: 5px;
  @include text(24px, 30px, 600);
  @media screen and (max-width: 992px) {
    @include text(18px, 24px, 600);
  }
}

.admin__сourse {
  margin-top: 15px;
  margin-bottom: 0px;
}

.how__title {
  @include text(32px, 46px, 600);
  @media screen and (max-width: 768px) {
    @include text(21px, 26px, 600);
  }
  @media screen and (max-width: 576px) {
    @include text(16px, 24px, 600);
  }
}
